.head{
    width: 100%;
    background-image: url('../img/background.jpg');
}
.menuHeader{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    background-color: $blanc;
}
.logoHead{
    width: 45%;
    margin-left: 5px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.menu{
    background-color: $vert;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;    
}

.burger{
    fill: $blanc;
    width: 50px;
    height: 50px;
    margin: auto;
}


