.zoneText{
    font-size: 20px;
}
.zone1, .zone3{
    display: flex;
    flex-direction: row;
    background-color: $blanc;
    color: $gris;
}

.zone1Left, .zone3Left{
    text-align: right;
    padding-right: 10px;
    /* background-image: url('../img/background.jpg');
    background-size: 100%; */
}
.zone1Right, .zone3Right{
    text-align: left;
    padding-left: 10px;
}

.zone2{
    background-color: $gris;
    color: $blanc;
    border-radius: 10px;
    width: 70%;
    height: 100px;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

.zone2 a:visited {
    color: $blanc;
}

.zone2 a:hover{
    color: darken($color: $blanc, $amount: 15%)
}

.zone4{
    background-color: $orange;
    color: $noir !important;
    border-radius: 10px;
    width: 50%;
    height: 100px;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin : 0 auto;
}

.zone4 a:visited{
    color: $noir;
}

.zone4 a:hover{
    color: lighten($color: $noir, $amount: 15%)
}

.souscrireSVG{
    color: $noir;
    
    width: 50px;
    height: 50px;
}